.nav.nav-tabs {
    border: 0;

    .nav-link {
        font-size: 18px;
        font-weight: 500;
    }

    .nav-link:not(.active) {
        border-bottom: 1px solid #dee2e6;
    }
    
    li.filler {
        flex-grow: 1;

        a {
            display: block;
            padding: 0.5rem 1rem;
            font-size: 18px;
            font-weight: 500;
            border: 1px solid transparent;
            border-bottom: 1px solid #dee2e6;
        }
    }
}

.nav-tabs-body {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-top: 0;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.nav-tabs {
    .nav-link {
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 1px 2px 4px 0 rgba(144, 128, 128, 0.44);
        position: relative;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .nav-link:not(.active) {
        border-bottom: 1px solid #dee2e6;
    }

    .nav-link:hover, .nav-link:focus {
/*        border-bottom: #fff;
*/    }

    .nav-link.active, .nav-item.show .nav-link {
        color: #495057;
        background-color: #fff;
        border-color: transparent;
    }
}

.nav-tabs-body {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-radius: 2px;
    box-shadow: 1px 4px 4px 0 rgba(144, 128, 128, 0.29);
    position: relative;
}