@page "/admin/campaigns"
@layout AdminLayout
@inject ICampaignsClient CampaignsClient

@if (campaigns != null)
{
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Campaigns</h1>
    </div>

        <TableTemplate Items="campaigns.ToList().AsReadOnly()">
            <TableHeader>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
            </TableHeader>
            <RowTemplate>
                <td>@context.Id</td>
                <td>@context.Name</td>
                <td>@context.Description</td>
            </RowTemplate>
        </TableTemplate>
}

@code {
    IEnumerable<CampaignShort>? campaigns = null;

    protected override async Task OnInitializedAsync()
    {
        campaigns = await CampaignsClient.GetCampaignsAsync();
    } 
}
