<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky pt-3">

        <ul class="nav flex-column mb-2">
            <NavLink class="nav-link" href="admin">
                <i class="fa fa-home"></i> Dashboard
            </NavLink>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Products</span>
        </h6>

        <ul class="nav flex-column mb-2">
            <NavLink class="nav-link" href="admin/products">
                <i class="fa fa-shopping-cart"></i> Products
            </NavLink>
            <NavLink class="nav-link" href="admin/categories">
                <i class="fa fa-list-alt"></i> Categories
            </NavLink>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Marketing</span>
        </h6>

        <ul class="nav flex-column mb-2">
            <NavLink class="nav-link" href="admin/discounts">
                <i class="fa fa-shopping-cart"></i> Discounts
            </NavLink>
            <NavLink class="nav-link" href="admin/campaigns">
                <i class="fa fa-shopping-cart"></i> Campaigns
            </NavLink>
            <NavLink class="nav-link" href="admin/prospects">
                <i class="fa fa-shopping-cart"></i> Prospects
            </NavLink>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Customer Relations</span>
        </h6>

        <ul class="nav flex-column mb-2">
            <NavLink class="nav-link" href="admin/customers">
                <i class="fa fa-users"></i> Customers
            </NavLink>

        </ul>
    </div>
</nav>